body {
    background-image: url(../imagen/394726.jpg) ;
}
nav {
    max-width: 900px;
    margin: auto;
    background-color: #6B240C;
    font-size: 20px;
    margin-top: 50px;
}

.menu-horizontal {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.menu-horizontal > li > a {
    color: white;
    padding: 15px 20px;
    display: block;
    text-decoration: none;
}

.menu-horizontal > li:hover {
    background-color: #FFB000;
}

.submenu-catalago{
    position: absolute;
    list-style: none;
    width: 200px;
    background-color: aquamarine;
    text-decoration: none;
    display: none;
    
    }
.menu-horizontal li:hover .submenu-catalago {
    display: block;}

.submenu-catalago > li > a {
    display: block;
    color: rgb(69, 14, 197);
    text-decoration: none;
    padding: 15px;
}
.submenu-catalago > li:hover {
    background-color: aliceblue;
}